* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

section {
    padding: 2rem;
    text-align: center;
}

#about {
    background-color: #f9f9f9;
}

#skills ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

#skills ul li {
    background: #333;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.project {
    background-color: #f9f9f9;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
